[Unit]
Description=Daily docker dls
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=python3 $HOME/.config/jack.laxson/helper.py docker pull
SyslogIdentifier=docker-image-pull.timer
