[Unit]
Description=Daily docker dls
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/.config/jack.laxson/helper.py /usr/bin/docker pull -q
SyslogIdentifier=docker-image-pull.timer
