[user]
	name = Jack Laxson
	email = jackjrabbit@gmail.com
	signingkey = 22372004
[help]
    autocorrect = 5
[push]
	simple = simple
[core]
	editor = micro
	excludesfile = /home/jack/.gitignore_global
